TOKEN=discord bot token
OWNER=your discord user ID
DEBUG_CHANNEL=channel ID for logging
FREE_FOOD_COOKIES='{ "csrftoken": "...", "datr": "...", "ds_user_id": "...", "ig_did": "...", "mid": "...", "sessionid": "..." }'
FREE_FOOD_MONGO_USERPASS=username:password
GEMINI_API_KEY=gemini API key
# GEMINI_API_KEY2, GEMINI_API_KEY3, ... if you want

# Omit dev dependencies
# TEMP: will be set by pm2
NODE_ENV=production

# Used by dbmate and db.ts
DATABASE_URL=sqlite:db/db.db
