# free-food scraper screenshots
data/*.png
data/free-food-debug-auth.json

# Dump from scripts/export.ts
data/export/

# Sqlite3 database
db/db.db
db/db.db-wal
db/db.db-shm
db/db.db-journal

# Dependency directories
node_modules/

# Environment variables
.env

# Output of npm run build
dist/
