# Bot data (old)
data/*.json

data/EventLoggerError.txt
data/last_pid.txt

# free-food scraper screenshtos
data/*.png

# Dump from scripts/export.ts
data/export/

# Sqlite3 database
db/db.db
db/db.db-wal
db/db.db-shm
db/db.db-journal

# Dependency directories
node_modules/

# Environment variables
.env

# Output of npm run build
dist/
