# Bot data (old)
data/

# Sqlite3 database
db/db.db
db/db.db-wal
db/db.db-shm
db/db.db-journal

# Dependency directories
node_modules/

# Environment variables
.env

# Previous output of npm run build
src/bundle.mjs

# Output of npm run build
dist/
